{% extends 'base/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1>{{ artist.display }}</h1>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
        <ul>
                <li><a href="{{ url_for('.v_link_composer', composer_name=artist.url_safe) }}"><span class="sr-only">Video link</span><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span></a></li>
                <li><a href="{{ url_for('.v_playlist_composer', composer_name=artist.url_safe) }}"><span class="sr-only">Playlist link</span><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
        </ul>
        </div>
        </div>
{% endblock %}